<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spider.DAO.AjkHouseDAO" >
    <resultMap id="BaseResultMap" type="com.spider.entity.AjkHouseDO" >
        <result column="id" property="id" jdbcType="BIGINT" javaType="java.lang.Long" />
        <result column="address" property="address" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="plot" property="plot" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="total_price" property="totalPrice" jdbcType="FLOAT" javaType="java.lang.Float" />
        <result column="unit_price" property="unitPrice" jdbcType="FLOAT" javaType="java.lang.Float" />
        <result column="area" property="area" jdbcType="FLOAT" javaType="java.lang.Float" />
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="room_hall" property="roomHall" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="detail_url" property="detailUrl" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, address, plot, total_price, unit_price, area, img_url, room_hall, detail_url, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.spider.entity.AjkHouseDO" >
        insert into spider_ajk (id, address, plot, area, total_price, unit_price, img_url, room_hall, detail_url, create_time, update_time)
        values (#{id}, #{address}, #{plot}, #{area}, #{totalPrice}, #{unitPrice}, #{imgUrl}, #{roomHall}, #{detailUrl}, now(), now())
    </insert>

</mapper>